<div class="panel panel-default">
  <div class="panel-heading"  style="color:red" >İhbar Bilgileri</div>
  <div class="panel-body">
<div class="form-group col-lg-12">
                                        <label for="exampleFormControlTextarea1">İhbar ve Bildirim Özeti</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder=" İhbar özeti burada olacaktır"></textarea>
                                    </div>


                                    <div class="form-group col-lg-12">
                                        <label for="exampleFormControlSelect1">Sorumlu Birlik</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Ankara</option>
                                            <option>İstanbul</option>
                                            <option>İzmir</option>
                                        </select>
                                    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red"  >Olay Özet Bilgileri</h3>
  </div>
  <div class="panel-body">
 <div class="form-group col-lg-12">
   <label for="exampleFormControlSelect1">Olay Özeti</label>
   <textarea  class="form-control"></textarea>
   </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red"   >Taraf Bilgileri</h3>
  </div>
  <div class="panel-body">
   Tablo olacak
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"   style="color:red" >Tahkikat Bilgileri</h3>
  </div>
  <div class="panel-body">
      Belge İşlemleri tablo olacak
  </div>
</div>
            
            
<button type="button" class="btn btn-success">Polise Aktar</button>
<button type="button" class="btn btn-success">Olaya Ait Fezleke Oluştur(18 yaş altı vb)</button>
<button type="button" class="btn btn-warning">Çıktı Al</button>
<button type="button" class="btn btn-warning">Onaya Gönder </button>



    