@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-md-12" style="margin: 10px;">
        <button type="button" id="kimligibelirlimadur" class="btn btn-primary">Kimliği Belirli Mağdur <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  </button>
    <button type="button" id="kimligibelirlisupheli" class="btn btn-primary">Kimliği Belirli Şüpheli <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  </button>
    <button type="button" id="kimligibelirlitanik" class="btn btn-primary">Kimliği Belirli Tanık <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  </button>
    <button type="button" id="kimligimechulmagdurtanik" class="btn btn-primary">Kimliği Meçhul Mağdur/Tanık <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  </button>
    <button type="button" id="tuzelkisilik" class="btn btn-primary">Tüzel Kişilik <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  </button>
</div>


                   <div id="divkimligibelirlisupheli" style="display: none;">
                        @await Component.InvokeAsync("mernisBilgileri")
                        @await Component.InvokeAsync("kimligibelirlisupheli")
                    </div>
                    <div id="divkimligibelirlimadur"  style="display: none;">
                        @await Component.InvokeAsync("mernisBilgileri")
                        @await Component.InvokeAsync("kimligibelirlimadur")
                    </div>
                    <div id="divkimligibelirlitanik"  style="display: none;">
                        @await Component.InvokeAsync("mernisBilgileri")
                        @await Component.InvokeAsync("kimligibelirlitanik")
                    </div>
                    <div id="divkimligimechulmagdurtanik"  style="display: none;">
                        @await Component.InvokeAsync("mernisBilgileri")
                        @await Component.InvokeAsync("kimligimechulmagdurtanik")
                    </div>
                    <div id="divtuzelkisilik"  style="display: none;">
                        @await Component.InvokeAsync("mernisBilgileri")
                        @await Component.InvokeAsync("tuzelkisilik")
                    </div>



