
<div class="container">
    <div class="row">
        <div class="form-group col-md-10">
            <input type="text" placeholder="11 haneli TC kimlik numarasını giriniz" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <button type="button" class="btn btn-primary btn-lg" class="form-control">Ara</button>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="staticEmail">Pasaport Numarası</label>
            <input type="text" id="exampleFormControlInput1" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="staticEmail">Geçici Kimlik Numarası</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="staticEmail">Uyruğu</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="staticEmail">Adı</label>
            <input type="text" class="form-control">
        </div>


        <div class="form-group col-md-4">
            <label for="staticEmail">Soyadı</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="staticEmail">Cinsiyeti</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Baba Adı</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Anne Adı</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Doğum Tarihi</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Doğum Yeri</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Medeni Hali</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Nüfus İli</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Nüfus İlçesi</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Nüfus Mahalle/Köy</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">İkamet İli/Mernis</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">İkamet İlçesi/Mernis</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-8">
            <label for="staticEmail">İkamet Mahalle-Köy/Mernis</label>
            <input type="text" class="form-control">
        </div>
    </div>
        </div>