
@{
    ViewData["Title"] = "BelgeIslemleri";
}

    <div class="container">
        <div>
            <h1 style="color:red">BELGE İŞLEMLERİ</h1>
        </div>

        <div class="row">




            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Belge Özeti</th>
                        <th>Olay Özeti</th>
                        <th>Tarih Saat</th>
                        <th>Krkl K. Onay</th>
                        <th>Blk. K .Onay </th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Aile İçi Şiddet Olayları Kayıt Formu</td>
                        <td>Üst-Alt Soy Aile İçi Şiddeti Sonucu Yaralanma</td>
                        <td>01.01.2020</td>..

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Hırsızlık Olayı Yakalama</td>
                        <td>12.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>


                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Hırsızlık Olayı Yakalama</td>
                        <td>12.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Aile İçi Şiddet Olayları Kayıt Formu</td>
                        <td>Üst-Alt Soy Aile İçi Şiddeti Sonucu Yaralanma</td>
                        <td>01.01.2020</td>..

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Hırsızlık Olayı Yakalama</td>
                        <td>12.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Aile İçi Şiddet Olayları Kayıt Formu</td>
                        <td>Üst-Alt Soy Aile İçi Şiddeti Sonucu Yaralanma</td>
                        <td>01.01.2020</td>..

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Hırsızlık Olayı Yakalama</td>
                        <td>12.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Aile İçi Şiddet Olayları Kayıt Formu</td>
                        <td>Üst-Alt Soy Aile İçi Şiddeti Sonucu Yaralanma</td>
                        <td>01.01.2020</td>..

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Hırsızlık Olayı Yakalama</td>
                        <td>12.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Aile İçi Şiddet Olayları Kayıt Formu</td>
                        <td>Üst-Alt Soy Aile İçi Şiddeti Sonucu Yaralanma</td>
                        <td>01.01.2020</td>..

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Hırsızlık Olayı Yakalama</td>
                        <td>12.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Aile İçi Şiddet Olayları Kayıt Formu</td>
                        <td>Üst-Alt Soy Aile İçi Şiddeti Sonucu Yaralanma</td>
                        <td>01.01.2020</td>..

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Hırsızlık Olayı Yakalama</td>
                        <td>12.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                    <tr>
                        <td>Aile İçi Şiddet Olayları Kayıt Formu</td>
                        <td>Üst-Alt Soy Aile İçi Şiddeti Sonucu Yaralanma</td>
                        <td>01.01.2020</td>..

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                    </tr>
                    <tr>
                        <td>Sağlık Kuruluşuna Sevk Yazısı</td>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>01.04.2020</td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button>

                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Belge Özeti</th>
                        <th>Olay Özeti</th>
                        <th>Tarih Saat</th>
                        <th>Krkl K. Onay</th>
                        <th>Blk. K .Onay </th>


                    </tr>
                </tfoot>
            </table>
        </div>



    </div>




<br />
<br />

