
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div>
        <h1 style="color:red">OLAY GİRİŞ İŞLEMLERİ</h1>
    </div>

    <div class="row">

        <br />

        <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color:#cccccc;">
            <li class="nav-item">
                <a style="color:black !important; font-weight:bold;" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Temel Bilgiler</a>
            </li>
            <li class="nav-item">
                <a style="color:black !important; font-weight:bold;" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Taraf Bilgileri</a>
            </li>
            <li class="nav-item">
                <a style="color:black !important; font-weight:bold;" class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="true">Tahkikat İşlemleri  Bilgileri</a>
            </li>
            <li class="nav-item">
                <a style="color:black !important; font-weight:bold;" class="nav-link" id="fezleke-tab" data-toggle="tab" href="#fezleke" role="tab" aria-controls="fezleke" aria-selected="true">Fezleke Oluşturma İşlemleri</a>
            </li>
        </ul>

        <!-- Tab Panel Başlangıç -->
        <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

            @await Component.InvokeAsync("temelBilgiler")
                
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-lg-12" style="margin:5px;">
                <button type="button" class="btn btn-success" id="tasarim1">Tasarım 1</button>
                <button type="button" class="btn btn-danger" id="tasarim2">Tasarım 2</button>
                <button type="button" class="btn btn-warning" id="tasarim3">Tasarım 3</button>
            </div>      
                    <div id="tasarim1_view" style="display: none;">
                        @Html.Partial("Components/UyapOlaylari/_Tasarim1")
                    </div>
                    <div id="tasarim2_view"  style="display: none;">
                        @Html.Partial("Components/UyapOlaylari/_Tasarim2")
                    </div>
                    <div id="tasarim3_view"  style="display: none;">
                        @Html.Partial("Components/UyapOlaylari/_Tasarim3")
                    </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
            
            <div class="col-lg-12" style="margin:5px;">
                <button type="button" class="btn btn-success" id="tahkikatTasarim1">Tahkikat İşlemleri Tasarım 1</button>
                <button type="button" class="btn btn-danger" id="tahkikatTasarim2">Tahkikat İşlemleri Tasarım 2</button>
            </div> 
            <div  class="col-lg-12" style="margin:5px;">
                    <div id="tahkikatTasarim1_view" style="display: none;">
                        @await Component.InvokeAsync("tahkikatIslemleriTasarim1")
                    </div>
                    <div id="tahkikatTasarim2_view"  style="display: none;">
                        @await Component.InvokeAsync("tahkikatIslemleriTasarim2")
                    </div>
            </div>     

             
        </div>


        <div class="tab-pane" id="fezleke" role="tabpanel" aria-labelledby="fezleke-tab">

            @await Component.InvokeAsync("fezlekeIslemleri")
        </div>

        </div>

    </div>
    <!-- Tab Panel Bitiş -->
</div>


@section Scripts{ 

<script src="~/js/olayislemleri/olayislemleri.js"></script>
<script src="~/js/olayislemleri/tasarim2.js"></script>
<script src="~/js/olayislemleri/tahkikatIslemleri.js"></script>
}

