
@{
    ViewData["Title"] = "RaporOnayIslemleri";
}


    <div class="container">


        <div>
            <h1 style="color:red">RAPOR ONAY İŞLEMLERİ</h1>
        </div>

        <div class="row">
            
            <br />

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Rapor Başlığı</th>
                        <th>Rapor Tarihi</th>
                        <th>Tarih Saat</th>
                        <th>Krkl K. Onay</th>
                        <th>Blk. K .Onay </th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sağlık Raporu</td>
                        <td>Kasten Yaralama Şahıs Sağlık Raporu</td>
                        <td>02.01.2020</td>

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                    </tr>

                    <tr>
                        <td>Trafik Kazası</td>
                        <td>Trafik Kazası Vukuat Raporu</td>
                        <td>02.04.2020</td>

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>

                    </tr>


                    <tr>
                        <td>Aile İçi Şiddet Olayı</td>
                        <td>Trafik Kazası Vukuat Raporu</td>
                        <td>02.04.2020</td>

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>

                    </tr>


                    <tr>
                        <td>Sağlık Raporu</td>
                        <td>Kasten Yaralama Şahıs Sağlık Raporu</td>
                        <td>02.01.2020</td>

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                    </tr>

                    <tr>
                        <td>Hırsızlık</td>
                        <td>Trafik Kazası Vukuat Raporu</td>
                        <td>02.04.2020</td>

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>

                    </tr>


                    <tr>
                        <td>Sağlık Raporu</td>
                        <td>Kasten Yaralama Şahıs Sağlık Raporu</td>
                        <td>02.01.2020</td>

                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                        <td><button type="button" class="btn btn-primary">Onay</button> <button type="button" class="btn btn-warning">iade</button></td>
                    </tr>


                </tbody>
                <tfoot>
                    <tr>
                        <th>Rapor Başlığı</th>
                        <th>Rapor Tarihi</th>
                        <th>Tarih Saat</th>
                        <th>Krkl K. Onay</th>
                        <th>Blk. K .Onay </th>



                    </tr>
                </tfoot>
            </table>
        </div>



    </div>


<br /><br />