@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h5>Savcı görüşme işlemleri nasıl olcak</h5>
    <h5>Olay ve kabahat dışım işlemleri nasıl olsun</h5>
    <h5>Dışarıdan gelen belge işlemleri nasıl olacak</h5>


</div>
