
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="container">
    <h3 style="color: red;">Diğer Bilgiler</h3>
    <hr />
    <div class="row">
        <div class="form-group col-md-4">
            <label for="staticEmail">İkamet İli/Beyan</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">İkamet İlçesi/beyan</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">İkamet Mahalle-Köy/Beyan</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">Yaşam Durumu</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="staticEmail">eğitim Durumu</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group col-md-4">

            <label for="staticEmail">Mesleği</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">

            <label for="staticEmail">Cep Telefonu</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">

            <label for="staticEmail">Sabit Telefonu</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">

            <label for="staticEmail">Alkol Durumu</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">

            <label for="staticEmail">Uyuşturucu Durumu</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</div>